<div *ngIf="!isShowingClient">

  <mat-toolbar>
    <span>BOTTE MICIDIALI</span>
    <span style="flex: 1 1 auto;"></span>
    <span>-alpha test wip version-</span>
  </mat-toolbar>

  <button mat-raised-button color="accent" class="client-button" routerLink="/client/debug" routerLinkActive="active">
    Debug Client
  </button>
  <button mat-raised-button color="accent" class="client-button" routerLink="/client/phaser" routerLinkActive="active">
    Phaser Client
  </button>
</div>

<router-outlet *ngIf="isShowingClient"></router-outlet>
