<div fxLayout="row wrap" fxLayoutGap="5px grid">
  <mat-card class="chooser-card">
    <mat-card-header>
      <mat-card-title class="smaller-title">
        Join a Game
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button
              class="choice-button"
              [disabled]="sessionService.queued || gameService.playerId == null || gameService.gameState != null"
              [matMenuTriggerFor]="playModes"
              (click)="$event.stopPropagation()">
        Quick Modes
      </button>
      <mat-menu #playModes="matMenu">
        <button mat-menu-item (click)="joinGame('1vCom')">Join 1vCom Game</button>
        <button mat-menu-item (click)="joinGame('1v1')">Join 1v1 Game</button>
        <button mat-menu-item (click)="joinGame('ffa')">Join FFA Game</button>
      </mat-menu>
      <button mat-raised-button
              class="choice-button"
              [disabled]="true"
              (click)="$event.stopPropagation()">
        Open Modes
      </button>
    </mat-card-content>
  </mat-card>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Browse Users
      </mat-panel-title>
      <mat-panel-description class="right-aligned">
        {{sessionService.howManyUsersConnected}} connected
      </mat-panel-description>
    </mat-expansion-panel-header>

    <h3>Total Users on Server</h3>
    <ul>
      <li *ngFor="let user of sessionService.usersConnected"><b>{{user.userLogin}}</b> ({{user.activity}})</li>
    </ul>

    <div *ngIf="sessionService.queuedFor=='ffa'">
      <h3>Users in FFA Queue</h3>
      <ul>
        <li *ngFor="let user of sessionService.usersInCurrentQueue">
          <b>{{user.playerId}}</b>
          ({{user.human ? 'human' : 'computer'}})
        </li>
      </ul>
      <button mat-raised-button
              style="float: right"
              *ngIf="sessionService.queuedFor == 'ffa'"
              (click)="forceStartFfaGame(); $event.stopPropagation();">
        Start
      </button>
      <button mat-raised-button
              style="float: right"
              *ngIf="sessionService.queuedFor == 'ffa'"
              (click)="addComPlayerToFfaGame(); $event.stopPropagation();">
        Add Com Player
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
