<div class="tabbed" *ngIf="sessionService.userAccountData.username != null">

  <p>
    This thing is fragile and veryvery WIP, don't be surprised if it breaks.
  </p>

  <br>

  <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexAlign="stretch" *ngIf="!editing" class="decks">
    <button fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" class="deck"
            *ngFor="let deck of sessionService.userAccountData.decks"
            mat-raised-button color="primary" (click)="editDeck(deck)">
      {{deck.deckId}}
    </button>
    <button fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" class="deck"
            mat-raised-button color="primary" (click)="newDeck()">
      New Deck
    </button>
  </div>

  <app-edit-deck *ngIf="editing" [deck]="targetDeck" (exit)="editing = false" (saveDeck)="saveDeck($event)">
  </app-edit-deck>

</div>
