<app-toolbar></app-toolbar>

<mat-card class="presentation-card">
  <mat-card-header>
    <mat-card-title>What's This?</mat-card-title>
    <mat-card-subtitle>About this Project</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Hi everyone. I am <i>gesucca</i> and I made this - among others countless things.
    </p>
    <p>
      <b>Botte Micidiali</b> is a card game of my own invention. It shamelessly robs some elements from other
      successful
      card games such as Magic: The Gathering, Yu-Gi Oh!, Hearthstone and the such, but it includes some concepts and
      mechanics never seen before.
    </p>
    <p>
      You can help me sponsoring a virtual cup of coffee or - better - a beer, or just by telling me if you discover
      some
      weird behaviour.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button onClick="window.location.href = 'mailto:gesucca.official@gmail.com'">
      Send me a Mail
    </button>
    <button mat-raised-button color="accent" onClick="window.open('https://www.paypal.com/paypalme/gesucca/')">
      Support This
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="presentation-card">
  <mat-card-header>
    <mat-card-title>How do I play?</mat-card-title>
    <mat-card-subtitle>About this Game</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <b>Botte Micidiali</b> is a card game that mimics what happens in a street brawl among big, bad and ugly thugs.
      Cards represents the character you play, actions you can do and objects you can use to kill others and remain
      alive yourself.
    </p>
    <p>
      Up to five bad guys play their cards all at the same time, performing actions on others or objects around them.
      Knowing who to attack and when to do it, rather than defending or buffing oneself is a crucial skill.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" class="choice-button"
            routerLink="/rules"
            routerLinkActive="active">
      Read Comprehensive Rules
    </button>
  </mat-card-actions>
</mat-card>

<div fxLayout="row wrap" fxLayoutGap="5px grid">
  <mat-card class="chooser-card">
    <mat-card-header>
      <mat-card-title class="smaller-title">
        Chose a Client
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="accent" class="choice-button"
              routerLink="/client/debug"
              routerLinkActive="active">
        Debug Client
      </button>
      <button mat-raised-button color="accent" class="choice-button" [disabled]="true">
        <!--routerLink="/client/graphic"
        routerLinkActive="active"-->
        Graphic Client
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="chooser-card">
    <mat-card-header>
      <mat-card-title class="smaller-title">Development Shortcuts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button class="choice-button mat-elevation-z4"
              routerLink="/client/graphic/test/battle"
              routerLinkActive="active">
        Test Battle
      </button>
      <a mat-raised-button class="choice-button mat-elevation-z4"
         href="https://botte-micidiali.herokuapp.com/swagger-ui.html" target="_blank">
        Control Panel
      </a>
    </mat-card-content>
  </mat-card>
</div>
