<mat-card class="character-card">
  <mat-card-header [ngStyle]="{'color': isPlayer ? '#fff176' : ''}">
    <mat-card-title>
      {{playerState.playerId}}
      <b style="color: red" *ngIf="playerState.character.dead">DEAD</b>
    </mat-card-title>
    <mat-card-subtitle>{{playerState.character.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>
      <b>HP</b>: {{health}}
      <b>AP</b>: {{alertness}}
    </p>

    <div *ngFor="let mapEntry of otherResources | keyvalue">
      <div *ngIf="mapEntry.value > 0">
        <b>{{mapEntry.key}}</b>: {{mapEntry.value}}
      </div>
    </div>

    <br>

    <p *ngFor="let status of playerState.character.statuses">
      Status: <b>{{status.name}}</b> <br> ({{status.description}})
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="mat-elevation-z2" (click)="logState()">Log State</button>
  </mat-card-actions>
</mat-card>
