.init-game-card {
  margin: 10px;
}

.code-back-player {
  background: rgb(226,246,226);
}

.code-back-opponent {
  background: rgb(246,226,246);
}

code {
  white-space: pre;
}

pre {
  white-space: normal;
}
