<app-server-connection></app-server-connection>
<br>
<app-choose-game (joinGameRequest)="joinGame($event)"></app-choose-game>

<div *ngIf="gameService.gameState" fxLayout="row wrap" fxLayoutGap="5px grid">
  <app-character-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
                      [isPlayer]="true"
                      [playerState]="gameService.playerState"></app-character-card>
  <app-character-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let opponent of gameService.opponents"
                      [isPlayer]="false"
                      [playerState]="opponent"></app-character-card>
</div>
<br>
<div style="margin: auto; width: 85%">
  <app-card-in-hand *ngFor="let card of gameService.cardsInHand"
                    [cardData]="card"
                    [targets]="getTargets(card)"
                    [chosenTarget]="getTargets(card)[0]"
                    [discardableCards]="discardableCards()"
                    (onPlayThis)="playCard($event)"></app-card-in-hand>
</div>
