<mat-card class="init-game-card" style="margin-top: 5px">
  <!--websocket connection-->
  <button mat-raised-button color="accent" (click)="connect()">Connect to Server</button>
  <!--view the game state-->
  <button mat-raised-button (click)="logGameState()" style="float: right">Log Game State</button>

  <!--join game-->
  <div *ngIf="isConnected()" style="margin-top: 20px">
    <form>
      <mat-form-field color="accent" style="margin-right: 10px">
        <mat-label>Player ID</mat-label>
        <input matInput type="text" [disabled]="gameService.gameState" [(ngModel)]="gameService.playerId"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button color="accent" [disabled]="joinClicked || gameService.playerId == null"
              [matMenuTriggerFor]="playModes">Quick Play Modes
      </button>
      <mat-menu #playModes="matMenu">
        <button mat-menu-item (click)="joinGame('1vCom')">Join 1vCom Game</button>
        <button mat-menu-item (click)="joinGame('4ffaCom')">Join 4ffaCom Game</button>
        <button mat-menu-item (click)="joinGame('1v1')">Join 1v1 Game</button>
        <button mat-menu-item (click)="joinGame('4ffa')">Join 4ffa Game</button>
      </mat-menu>
    </form>
  </div>

</mat-card>

<div *ngIf="gameService.gameState">
  <!--<pre class="code-back-player">
    <code [innerText]="gameService.playerState | json">
    </code>
  </pre>
  <pre *ngFor="let opponent of gameService.opponents" class="code-back-opponent">
    <code [innerText]="opponent | json">
    </code>
  </pre>-->

  <app-character-card [playerState]="gameService.playerState"></app-character-card>
</div>

<!--choose your move-->
<label *ngIf="gameService.cardsInHand">
  Target Opponent
  <select [(ngModel)]="selectedTargetOpponent">
    <option *ngFor="let opponent of gameService.opponents" [value]="opponent.playerId" ngDefaultControl>
      {{opponent.playerId}}
    </option>
  </select>
</label>
<div *ngFor="let card of gameService.cardsInHand" style="margin-bottom: 5px;">
  {{card.name}}
  <button (click)="playCard(card.name)">Play This</button>
  <br>
  cost:{{card.cost | json}}
  <br>
  effect:{{card.effect}}
  <br>
  ----------------------------------------------------------------
</div>
