<mat-card class="init-game-card" style="margin-top: 5px">
  <!--websocket connection-->
  <button mat-raised-button color="accent" (click)="connect()">Connect to Server</button>
  <!--view the game state-->
  <button mat-raised-button class="mat-elevation-z2" (click)="logGameState()" style="float: right">
    Log Game State
  </button>

  <!--join game-->
  <div *ngIf="isConnected()" style="margin-top: 20px">
    <form>
      <mat-form-field color="accent" style="margin-right: 10px">
        <mat-label>Player ID</mat-label>
        <input matInput type="text" [disabled]="gameService.gameState" [(ngModel)]="gameService.playerId"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button color="accent" [disabled]="joinClicked || gameService.playerId == null"
              [matMenuTriggerFor]="playModes">Quick Play Modes
      </button>
      <mat-menu #playModes="matMenu">
        <button mat-menu-item (click)="joinGame('1vCom')">Join 1vCom Game</button>
        <button mat-menu-item (click)="joinGame('4ffaCom')">Join 4ffaCom Game</button>
        <button mat-menu-item (click)="joinGame('1v1')">Join 1v1 Game</button>
        <button mat-menu-item (click)="joinGame('4ffa')">Join 4ffa Game</button>
      </mat-menu>
    </form>
  </div>

</mat-card>

<div *ngIf="gameService.gameState" fxLayout="row wrap" fxLayoutGap="5px grid">
  <app-character-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
                      [isPlayer]="true"
                      [playerState]="gameService.playerState"></app-character-card>
  <app-character-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let opponent of gameService.opponents"
                      [isPlayer]="false"
                      [playerState]="opponent"></app-character-card>
</div>
<br>
<div style="margin: auto; width: 85%">
  <app-card-in-hand *ngFor="let card of gameService.cardsInHand"
                    [cardData]="card"
                    [targets]="getTargets(card)"
                    [chosenTarget]="getTargets(card)[0]"
                    (onPlayThis)="playCard($event)"></app-card-in-hand>
</div>
