<mat-card style="margin-top: 5px">
  <!--websocket connection-->
  <mat-form-field color="accent" style="margin-right: 10px">
    <mat-label>Player ID</mat-label>
    <input matInput type="text"
           [disabled]="websocketService.isConnected()"
           [(ngModel)]="gameService.playerId"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <button mat-raised-button color="accent"
          (click)="websocketService.connect(gameService.playerId)"
          [disabled]="gameService.playerId == null || websocketService.isConnected()">
    Connect to Server
  </button>
  <!--log the game state to console-->
  <button mat-raised-button class="mat-elevation-z4" (click)="logGameService()" style="float: right">
    Log Game State
  </button>
</mat-card>
